// app global css in SCSS form
/* Override sticky footer behavior */
q-footer,
.q-footer {
  position: static !important;
  bottom: auto !important;
}

.q-page-container {
  padding-bottom: 0 !important;
}

.main_servieces .service_items {
  margin: 0 !important;
}

.service-card {
  justify-content: center;
  background-color: #1a237e;
}

.header-height {
  height: 80px;
}

.light-blue-1 {
  color: #e3f2fd;
}
